.centered {
    margin: auto;
    width: 50%;
    padding: 2em;
}
.width {
    margin: auto;
    width: 50%;
    padding: 2em;
    max-width: 600px;
}
.shadow {
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
    border-radius: 30px;
    outline: 1px solid #d3d3d3;
    margin-top: 2em;
    margin-bottom: 2em;
}